<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex flex-row align-items-center navHeader mr-auto" routerLink="/">
    <img class="d-none d-sm-block d-md-block d-lg-block d-xl-block" src="/assets/images/DS_Logo.svg" alt="Dimension Services Logo" width="84" height="84">
    <span class="navbar-brand navName">{{title}}</span>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="collapseNav" [isAnimated]="true" [collapse]="isCollapsed" class="navbar-collapse flex-grow-0">
    <div class="navbar-nav text-center">
      <a class="nav-item nav-link mr-1 navTextSize navTextColor" routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a class="nav-item nav-link mr-1 navTextSize navTextColor" routerLink="/services" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Services</a>
      <a class="nav-item nav-link mr-1 navTextSize navTextColor" routerLink="/portfolio" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Portfolio</a>
      <a role="button" class="btn btn-outline-warning navTextSize navContact" routerLink="/contact-us" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">Contact Us</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>